@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 5rem;
  font-family: "Source Sans Pro";
  font-weight: 700;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  padding-top: 1rem;
  padding-bottom: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.counter {
  display: flex;
  align-items: center;
  border-radius: 6px;
  padding: 1rem;
  margin-top: 2rem;
}
.counter-value {
  font-size: 2.5rem;
  background-color: rgb(31, 30, 30);
  padding: 10px;
  border-radius: 10px;
  color: whitesmoke;
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.indicators {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  font-size: 2rem;
  color: whitesmoke;
}

.header {
  background: #3c3b3f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #605c3c,
    #3c3b3f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #605c3c,
    #3c3b3f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border: 1px solid #8d8688;
  padding: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  color: #d3d3d3;
  border-radius: 5px;
  gap: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.header:hover {
  cursor: pointer;
  background: #485563; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #29323c,
    #485563
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #29323c,
    #485563
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.cards {
  padding: 20px 40px 20px 40px;
  display: flex;
  justify-content: center;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 16px;
}

.target-highlight {
  -webkit-animation: target-fade 3s 1;
  -moz-animation: target-fade 3s 1;
}

@-webkit-keyframes target-fade {
  0% {
    background-color: rgba(255, 255, 153, 0.8);
  }
  100% {
    background-color: rgba(255, 255, 153, 0);
  }
}
@-moz-keyframes target-fade {
  0% {
    background-color: rgba(255, 255, 153, 0.8);
  }
  100% {
    background-color: rgba(255, 255, 153, 0);
  }
}

.counter {
  text-align: center;
  display: inline-flex;
  justify-content: center;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  margin-bottom: 2rem;
}
.entry {
  text-align: center;
  padding: 5px;
}
.entry .entry-value {
  position: relative;
  height: 95px;
  perspective: 200px;
  backface-visibility: hidden;
  transform: translateZ(0);
  transform: translate3d(0, 0, 0);
  margin: 0 auto;
}
.entry .entry-title {
  min-width: 80px;
  color: #fff;
  margin-top: 10px;
  font-weight: bold;
}
.count {
  background-color: #202020;
  color: #fff;
  display: block;
  font-size: 2em;
  line-height: 2.4em;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  border-radius: 4px;
}
.count.top {
  height: 50%;
  line-height: 95px;
  transform-origin: 50% 100%;
}
.count.bottom {
  line-height: 0;
  height: 50%;
  top: 50%;
  transform-origin: 50% 0;
}
.count.flipTop {
  animation-name: flipTop;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  z-index: 1;
}
.count.flipBottom {
  animation-name: flipBottom;
  animation-duration: 0.3s;
  animation-delay: 0.3s;
  animation-fill-mode: both;
  z-index: 1;
}
.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  text-align: center;
}
@keyframes flipTop {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(-90deg);
  }
}
@keyframes flipBottom {
  from {
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

.header-text {
  width: 100%;
  padding: 1rem;
  text-align: center;
}

.header-text .text {
  font-size: 1.5rem;
  color: rgb(206, 204, 204);
  font-weight: 700;
  letter-spacing: 0.3rem;
}

.bottom-update-time {
  width: 100%;
  padding: 1rem;
  text-align: center;
  color: #8d8688;
}
